
body { 
	font-family: sans-serif; 
	margin: 0; 
	padding: 0;
}
header { 
	display:flex;
	height: 90px;
	background-color: #67192d;
	justify-content:space-between;
	align-items: center;
	color: white;	
}

.logo {
	display: flex;
	align-items:normal;
	margin-left: 100px;
	margin-top: 5px;
	padding: 0%;	
}

.logo-img {
	height: 70px;
	width: 70px;
	margin-right: 0px;	
}
a { 
	text-decoration: none; 
	color: white; 
}
nav a { 
	margin: 0 15px; 
	text-decoration: none; 
	color: white; 
	font-weight: normal; 
}

nav a:hover { 
	color: red; 
}


h1 {
    color: white;
	text-align: center;
    font-size: 2.2rem;
    padding-top: 0px;
	margin-right: 300px;
	
}

h2 {
   	text-align: justify;
    font-size: 20px;
	font-weight: normal;
    padding-top: 0px;
}
h3 {
    color: #67192d;
	text-align: center;
    font-size: 3rem;
    padding-top: 0px;
	margin-top: 3%;
}
h4 {
    text-align: center;
    font-size: 17px;
	font-weight: normal;
    padding-top: 0px;
}

div img {
	height: 510px;
	width: 900px;
}

div {
	background-color: transparent;
	width: 1050px;
	height: auto;
	text-align: center;
	padding-top: 10px;
}
section {
    display: flex;
	padding: 0px 0px 0px 25px;
	column-gap: 50px;
	justify-content: center;
}
ul { 
	list-style-type: square; 
}
/* Banner / carrusel */
.main-campaign-img {
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
}
/* Contenedor del slider: FULL WIDTH */
.slider-frame {
  width: 100vw;       /* ocupa todo el ancho de la ventana */
  max-width: 100%;    /* asegura no desbordar */
  margin: 4px auto 0; 
  overflow: hidden;
  
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.especialidad { 
	display:flex; 
	padding: 5%;
	padding-top: 0%;
	padding-right: 7%;
	height: 70px;
	width: 70px;
	column-gap: 100px;
	justify-content:center;
	cursor: pointer;
}
.especialidad2 { 
	display:flex; 
	padding: 20%;
	height: 70px;
	width: 70px;
	column-gap: 100px;
	justify-content:center;
	margin-right: 30px;
	cursor: pointer;
}

form {
	background-color: #67192d;
	padding: 50px 55px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	text-align: center;
	width: 600px;
}
.entrada {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-right: 300px;
}
label {
	color: white;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
}
input, textarea {
	padding: 17px 25px;
	border-radius: 25px;
	margin-bottom: 20px;
	background-color: white;
	border: 2px solid black;
	color: #67192d;
	font-size: 16px;
	font-family: sans-serif;
	width: 50%;
}
.btn {
	font-size: 30px;
	font-weight: bold;
	color: #67192d;
	border: 2px solid black;
	background-color: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	width: 55%;	
}
.social {
	display: flex;
	justify-content: center;
	margin-top: 4%;
	
}
footer { 
	background-color: #67192d;
	color: white; 
	display: flex;
	padding: 30px; 
	margin-top: 20px;
	align-items: center;	
	width: 96.7%;
	height: 0px;
}

@media(max-width:991px) {
	body {
		padding: 30px;
	}

	form {
		padding: 50px 30px;
		width: 100%;
	}
	input {
		padding: 15px;
	}

}